.container
{  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center ;
    padding: 5px 5px 5px 5px ;
    height: auto;
    background-image:url(../../../Imagenes/lluviadolar.jpeg);
    background-image: center;
    color:#FFFFFF;
    font-size: 1rem;
    position: sticky;
    padding-top: 2rem ;
    gap: 1rem;
    flex-direction: row;
    box-sizing:content-box ;
    
 }
 .como-ahorrar {
    display: flex;
    margin: 10x 10px 10px 10px;
    flex-wrap: wrap;
    gap: 1rem;
    color: #3105f7;
    font-weight: rgb(241, 239, 239);
    font-size: large;
    list-style-type: none;
    font-family: 'Rubik', sans-serif;
    position: sticky;
    top: 0;
    flex-direction:row ;
    justify-content: space-evenly;
    align-items: center;
    align-content: stretch;
    box-sizing:content-box ;
    padding: 20px 20px 20px 20px ;  }

    .gasto-hormiga{
        display: flex;
        margin:auto;
        padding: 2 rem;
        margin-top: 10px;
        padding-top: 3rem;
        flex-wrap: wrap;
        gap: 1rem;
        color: #070583;
        font-weight: rgb(241, 239, 239);
        font-size: x-large;
        list-style-type: none;
        font-family: 'Rubik', sans-serif;
        position: sticky;
        top: 0;
        flex-direction:row ;
        justify-content: space-evenly;
        align-items: center;
        align-content: stretch;
        box-sizing:content-box ;
        padding: 5px 5px 5px 5px ;   

.gasto-hormiga{
    display: flex;
    margin-top: 10px;
    margin-left: 30px;
    align-content: center;
   border-left: 10px;
     } }

